<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="gblExpressRateBook2" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="gblDHLExpressLabel">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="gblDHLExpressLabel1" />
        <binding name="gblDHLExpressTrack">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="gblDHLExpressTrack1" />
        <binding name="gblExpressRateBook">
          <security mode="Transport" />
        </binding>
        <binding name="gblExpressRateBook1" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://wsbexpress.dhl.com/gbl/glDHLExpressTrack"
        binding="basicHttpsBinding" bindingConfiguration="gblDHLExpressTrack"
        contract="com.dhl.wsbexpress.track.gblDHLExpressTrack" name="gblDHLExpressTrack" />
      <endpoint address="https://wsbexpress.dhl.com/gbl/glDHLExpressLabel"
        binding="basicHttpsBinding" bindingConfiguration="gblDHLExpressLabel"
        contract="com.dhl.wsbexpress.label.gblDHLExpressLabel" name="gblDHLExpressLabel" />
      <endpoint address="https://wsbexpress.dhl.com/gbl/expressRateBook"
        binding="basicHttpsBinding" bindingConfiguration="gblExpressRateBook"
        contract="com.dhl.wsbexpress.shipment.gblExpressRateBook" name="gblExpressRateBook" />
      <endpoint address="http://wsbexpressuat.dhl.com/gbl/expressRateBook"
        binding="basicHttpBinding" bindingConfiguration="gblExpressRateBook2"
        contract="com.dhl.wsbexpress.shipment.gblExpressRateBook" name="gblExpressRateBook1" />
    </client>
  </system.serviceModel>
</configuration>